# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

mainmenu "FlowInk Configuration"

config WAKEUP_TIME_SEC
	int "Wakeup time in seconds"
	default 180
	help
	  This option sets the time in seconds after which the device
	  will wake up from deep sleep. Defaults to 12 hours.

menu "WS2812 Sample Configuration"

config LED_STRIP_BRIGHTNESS
	int "LED brightness"
	default 3
	range 1 255
	help
	  Brightness level of each LED. Defaults to a low value to make
	  it easier to distinguish colors.

endmenu

menu "NET Configuration"

config WIFI_AP_SSID
	string "SSID of soft AP"
	help
	  SSID of the soft AP 
	  Fox example: "SOFT-AP"
	  
config WIFI_AP_PSK
	string "Pre-shared key for soft AP"
	help
	  WPA2 password used by the soft AP for client authentication.
	  For example: "PSK"

config WIFI_AP_IP_ADDRESS
	string "IP address of soft AP"
	help
	  IP address assigned to the soft AP interface.
	  For example: "192.168.4.1"

config WIFI_AP_NETMASK
	string "Netmask of soft AP"
	help
	  Subnet mask for the soft AP interface.
	  For example: "255.255.255.0"  

config HTTP_SERVER_SERVICE_PORT
	int "Port number for http service"
	default 80

endmenu

menu "EPD Configuration"

config EPD_PANEL_HEIGHT
	int "Height of the epd display screen"
	default 480

config EPD_PANEL_WIDTH
	int "Width of the epd display screen"
	default 800

config EPD_SEND_BUF_SIZE
	int "EPD send buffer size"
	default 192000
	help
	  Size of the buffer used to send data to the EPD display.

config BMP_ORIGINAL_SIZE
	int "BMP original size"
	default 1152054
	help
	  The original size of the BMP file.

endmenu

source "Kconfig.zephyr"