# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

mainmenu "FlowInk Configuration"

config WAKEUP_TIME_SEC
	int "Wakeup time in seconds"
	default 43200
	help
	  This option sets the time in seconds after which the device
	  will wake up from deep sleep. Defaults to 12 hours.

menu "WS2812 Sample Configuration"

config SAMPLE_LED_BRIGHTNESS
	int "LED brightness"
	default 3
	range 1 255
	help
	  Brightness level of each LED. Defaults to a low value to make
	  it easier to distinguish colors.

endmenu

source "Kconfig.zephyr"