/*
 * Copyright (c) 2024-2025 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_wroom_n16r8.dtsi>
#include <espressif/partitions_0x0_default_16M.dtsi>
#include "flowink_esp32s3-pinctrl.dtsi"
#include <zephyr/dt-bindings/led/led.h>

/ {
	model = "Espressif ESP32S3-DevkitC PROCPU";
	compatible = "espressif,esp32s3";

	aliases {
		uart-0 = &uart0;
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	buttons {
		compatible = "gpio-keys";

		btn_wakeup: btn0 {
			gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW | GPIO_INT_WAKEUP)>;
		};

		btn_mode: btn1 {
			gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_pwr: led0 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		};

		led_mode: led1 {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		};
	};

	/* 从 rtc-slow-ram 分了256字节出来，用 remained-ram 组件管理 */
	memory@50001f00 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x50001f00 0x100>;
		zephyr,memory-region = "RTC_SLOW_RAM_RETAINED_MEM";
		status = "okay";

		retained_mem0: retaine_mem {
			compatible = "zephyr,retained-ram";
			status = "okay";
		};
	};

	/* 为什么采用 &wifi{status = "okay";} 的方式会报错？？ */
	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};
};

&rtc_timer {
	status = "okay";
	wakeup-source;
};

&rtc_slow_ram {
	/* Shrink rtc_slow_ram size to avoid overlap with retained memory region:
	 * 8KB - 256 = 0x1f00
	 */
	reg = <0x50000000 0x1f00>;
};

&gpio0 {
	/* Configure device as wakeup source */
	wakeup-source;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&i2s0 {
	status = "okay";

	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";

	dmas = <&dma 3>;
	dma-names = "tx";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";

		reg = <0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <500>;
	};
};

&dma {
	status = "okay";
};

&psram0 {
	size = <DT_SIZE_M(8)>;
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
		
	/* 9 is MOSI, 10 is SCLK，11 is CS */
	epd: epd@0 {
		compatible = "nhf-um,epd-spi";
		reg = <0>;
		spi-max-frequency = <10000000>;

		dc-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
	};
};